# ======================
# Logs
# ======================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ======================
# Dependencies
# ======================
node_modules

# ======================
# Production Build
# ======================
dist
dist-ssr

# ======================
# Local Environment Files
# ======================
.env
.env.local
.env.development
.env.production
*.local

# ======================
# Editor & IDE Files
# ======================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
